body{
    color: hsl(0, 0%, 100%);
    font-family: sans-serif, verdana;
    font-size: 5px;
}
main{
    background-color: hsl(216, 12%, 8%);
    max-width: 590px;
    height: 310px;
    margin: 200px auto;
}

#div1{
    width: 130px;
    height: 130px;
    background-color: hsl(212, 22%, 13%);
    top: 23%;
    margin: auto;
    position: relative;
    border-radius: 10px;
    padding: 15px;
}
ul{
    display: flex;
    list-style-type: none;
    padding: 0;
}
button{
    background-color: hsl(25, 97%, 53%);
    width: 100%;
    border: 0px;
    color: white;
    font-size: 7px;
    font-weight: 400;
    padding: 4px;
    border-radius: 10px;
    color: beige;
}
button:hover{
    background-color: aliceblue;
    color: orange;
    cursor: pointer;
}
li{
    flex-grow: 1;
    text-align: center;
    background-color: hsl(215, 15%, 23%);
    margin: 3px;
    padding: 8px;
    border-radius: 10px;
}
li:hover{
    background-color: orange;
    cursor: pointer;
}
p{
    font-size: 6px;
    line-height: 1.5em;
    color: hsl(217, 6%, 58%);
}
#div2{
    background-color: hsl(215, 15%, 23%);
    border-radius: 15px;
    padding: 7px;
    display: inline-block;
}

@media screen and (max-width: 425px) {
    body{
        background-color: hsl(216, 12%, 8%);
    }
    #div1{
        transform: scale(2);
    }
}